/* overwrite */
body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

a, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.sidebar-nav {
  position: relative;
}

/* new css */
.sidebar-head {
  width: 210px;
  margin: auto;
  margin-bottom: 30px;
}

.sidebar-head a {
  font-size: 30px;
  color: #999999;
}

.sidebar-div {
  margin: 15px;
  font-size: 30px;
  color: #999999;
}

.sidebar-div a {
  color: inherit;
}

.sidebar-div .fa {
  margin: 0 5px; 
}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  color: #999999;
}

.sidebar-bottom p {
  margin: 15px;
  font-size: 15px;
}

.img-circle {
  display: block;
  border-radius: 50%;
  margin: 50px auto;
  width: 70%;
}

.container-fluid {
  margin-top: 150px
}

.row div p {
  margin-top: 50px;
}
